#contactarea{
 .contactinner{
  display: flex;
  flex-basis: 60%;
 
  .contactinfo{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   div{
    background:$bgColor ;
    flex-basis: 30%;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    text-align: center;
    border-radius:  10px;
    i{
     display: block;
     color: $pColor;
     font-size: 25px;
     margin-bottom: 20px;
    }
    p{
     color: $bkColor;
     font-size: 15px;
     font-weight: $fontWMD;
     text-transform: uppercase;
    }
   }
   iframe{
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    border: 0;
   }
  }
  
  .contactform{
   flex-basis: 38%;
   margin-left: 20px;
   padding: 15px;
   form{
    input,textarea{
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 15px;
    font-weight: $fontWSM;

    }
   }
   textarea{
    min-height: 150px;
   }
   .sendmessage{
    background: $pColor;
    width: 200px;
    border: 0;
    color: $whiteColor;
    font-size: 15px;
    font-weight: $fontWSM;
   }
   
  }
 }
}