#headerarea{

.topheaderarea{
.mobilebar{
display: none;
}
 background: $pColor;
 padding: $paddingSM;

p{
 font-size: 14px;
 font-weight: $fontWMD;
 margin: 0px;
 color: $whiteColor;
}


}
//-----------------

.mainheader{
background: $whiteColor;
padding: 25px 0;

.logoarea{
flex-basis: 30%;
}

.mainmenu{
flex-basis: 70%;
ul{
justify-content: end;
display: flex;
list-style: none;
margin-right: 140px;

li{
margin-left: 20px;

a{
 color: $bkColor;
 font-size: 1rem;
 font-weight: $fontWMD;

 &:hover{
 color: $pColor;
 }
}
}
}
}


//---
}



}

//partof topheader area
.socialarea{
  ul{
   text-align:right;
  li{
   margin-left: 15px;
  }
  a{
   display: block;
   background:$SColor;
   width: 40px;
   height: 40px;
   font-size: 15px;
   color: $bkColor;
   text-align: center;
   padding-top: 8px;
   border-radius: 30px;
   i{
    margin: 0;
   }
   &:hover{
  background: $bkColor;
  color: $SColor;
   }
  }
  }
 
  }
//-------------------------------------------











//topheader----
.inner1{
display: flex;
justify-content: space-evenly;
align-items: center;
}


.socialarea{
.ul1{
 margin: 0;
 padding: 0;
 list-style: none;

}
.ul1 li{
display: inline-block;

}
}
//end-topheader -----


//mainheader---
.inner2{
 display: flex;
 align-items: center;
text-align: right;
 
 }

.mainmenu{
 .ul2{
  margin: 0;
  padding: 0;
  list-style: none;
  
  }
.ul2 li{
display: inline-block;
}
}
//-------