#heroarea{
padding-top: 60px;
background: $bgColor;
.container01{
display: flex;
width: 80%;
margin: 0 auto;
}
img{
 display: block;
 height: 300px;
 min-width: 500px;
}
.aboutinfo{

 flex-basis: 40%;
 order: 1;
 display: flex;
 justify-content: center;
 flex-direction: column;
 h2{
  font-size: 65px;
  text-transform: uppercase;
  line-height: 1em;
 }
 h5{
  font-size: 20px;
  font-weight: $fontWMD;
  text-transform: uppercase;
  margin-bottom: 0;
 }


}
.aboutimg{
 flex-basis: 60%;
 order: 2;
}

}




.btncta{
 background: $pColor;
 color: $whiteColor;
 display: inline-block;
 padding: 12px 25px;
 font-weight: $fontWMD;
 border-radius: 5px;
 margin-top: 5px;

 &:hover{
 background: $bkColor;
 }
 }